<mat-form-field ngDefaultControl  appearance="outline">
        <mat-label>Organisation</mat-label>
    <input [(ngModel)]="organisation" (keyup.enter)="load()" maxlength="256" matInput placeholder="Organisation">
</mat-form-field>
<button mat-raised-button (click)="load()">Ok</button>
<h2 *ngIf="nbRepositoriesReady">Number of repositories : {{nbRepositories}}</h2>
<h2 *ngIf="nbMembersReady">Number of members : {{nbMembers}}</h2>
<h2 *ngIf="dataReady">Most used Language by organisation : {{data[0][0]}} ({{data[0][1]}} repositories)</h2>
<h2 *ngIf="data4Ready">Most famous user : {{data4[0][0]}} ({{data4[0][2]}} followers)</h2>
<h2 *ngIf="data2Ready">Most active user : {{data2[0][0]}} ({{data2[0][1]}} repositories)</h2>
<h2 *ngIf="data5Ready">User with most repositories : {{data5[0][0]}} ({{data5[0][1]}} repositories owned)</h2>
<h2 *ngIf="data6Ready">Most liked language by users : {{data6[0][0]}} ({{data6[0][1]}} users on {{nbMembers}})</h2>

<google-chart *ngIf="dataReady" title="Top Languages" type="ColumnChart" [data]="data"
    [columnNames]="['Languages', 'Number of repositories']" [options]="options" [width]="innerWidth" [height]="height">
</google-chart>
<mat-spinner *ngIf="!dataReady">Loading Top Lanugages...</mat-spinner>
<google-chart *ngIf="data2Ready" title="Top Members" type="BarChart" [data]="data2"
    [columnNames]="['User', 'Pull Requests']" [options]="options" [width]="width" [height]="height">
</google-chart>
<mat-spinner *ngIf="!data2Ready"></mat-spinner>
<google-chart *ngIf="data5Ready" title="Most repositories owned" type="PieChart" [data]="data5"
    [columnNames]="['User', 'Repositories owned']" [options]="options" [width]="width" [height]="height">
</google-chart>
<mat-spinner *ngIf="!data5Ready"></mat-spinner>
<google-chart *ngIf="data3Ready" title="User languages" type="Table" [data]="data3"
    [columnNames]="['User', 'Favorite Language', 'Number of repositories']" [options]="options" [width]="width"
    [height]="height">
</google-chart>
<mat-spinner *ngIf="!data3Ready"></mat-spinner>
<google-chart *ngIf="data6Ready" title="Most liked languages" type="Histogram" [data]="data6"
    [columnNames]="['Languages', 'Number of user using']" [options]="options" [width]="width" [height]="height">
</google-chart>
<mat-spinner *ngIf="!data6Ready"></mat-spinner>
<google-chart *ngIf="data4Ready" title="" type="TreeMap" [data]="data4" [columnNames]="['User', 'Parent', 'Followers']"
    [options]="optionsTree" [width]="innerWidth" [height]="height">
</google-chart>
<mat-spinner *ngIf="!data4Ready"></mat-spinner>
<router-outlet></router-outlet>